body {
    margin: unset;
}
#login,
#modal div.contentModal {
    background: #ffffffb3;
    padding: 50px;
    margin: 13% 25% 0px 25%;
    text-align: center;
    border-radius: 5px;
    box-shadow: inset 0px 0px 6px black;
}

#login input[type="text"],
#login input[type="password"],
.input {
    border: none;
    padding: 7px;
    font-size: 12px;
    letter-spacing: 1px;
    transition: all 0.3s ease-in;
    width: 80%;
    text-align: center;
    height: 3em;
}
#logoo {
    margin-bottom: 2em;
}
#login input[type="text"]:hover,
#login input[type="text"]:focus,
#login input[type="password"]:hover,
#login input[type="password"]:focus,
.input:hover,
.input:focus {
    background-color: black;
    color: white;
}
#login input[type="submit"],
.butn {
    background-color: #c1c1c1;
    padding: 10px;
    border: none;
    transition: all 0.3s ease;
}

#login input[type="submit"]:hover,
.butn:hover {
    background-color: #3f8ed6;
    color: white;
    cursor: pointer;
}
html {
    font-family: Arial, Helvetica, sans-serif;
}
label {
    display: block !important;
}

#modal {
    display: none;
    background: #0000008c;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@keyframes cerrar {
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 0;
    }
}
@keyframes aparecer {
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}
#modal section {
    margin: 20px 0px;
}
#closeModal {
    background: #e12a2a9e;
    float: right;
    border: none;
    padding: 14px;
    color: white;
    border-bottom-left-radius: 5px;
    transition: all 0.4s ease;
    cursor: pointer;
}
#closeModal:hover {
    border-left: 4px #a228289e solid;
    border-bottom: 4px #a228289e solid;
}
#inpID {
    text-align: left;
    padding: 19px;
    padding-bottom: unset;
    font-weight: bold;
}

input,
textarea {
    font-family: FontAwesome, "Open Sans", Verdana, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}

#formm {
    padding: 37px;
    padding-top: 0px;
    direction: rtl;
}
#formm input,
#formm select {
    direction: initial;
}

.left-menu {
    width: 12em;
    position: fixed;
    top: 0;
    height: 100%;
    background-size: cover;
    border-right: 2px solid black;
}
.left-menu .logo {
    /* background: white; */
    border-bottom: 2px solid black;
}
.left-menu .logo img {
    width: 95%;
    height: 60px;
    margin-top: 8px;
}
.left-menu .content {
    background-color: white;
    height: 100%;
    padding: 5px;
}

.left-menu .content .options ul {
    padding: unset;
}

.left-menu .content .options ul li {
    /* background: #858585; */
    margin-bottom: 8px;
    padding: 5px;
    word-wrap: break-word;
    display: flex;
    align-items: center;
}
.left-menu .content .options ul li i {
    font-size: 30px;
}
.left-menu .content .options ul li span a {
    color: inherit;
    text-decoration: unset;
}

.left-menu .content .options ul li span:hover {
    background-color: black;
    color: white;
}
.left-menu .content .options ul li span {
    color: black;
    text-align: center;
    width: 100%;
    background: #dbdbdb;
    padding: 5px;
    margin-left: 8px;
    border-radius: 3px;
    transition: all 0.5s ease-out;
}

.content-body {
    background: white;
    padding: 15px;
    margin-left: 12em;
    position: absolute;
    height: calc(100% - 4.4em);
    width: calc(100% - 12em);
}

#usr {
    display: flex;
    align-items: center;
    background: #bfbfbf;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 15px;
}

.top-menu {
    margin-left: 12.1em;
    padding: 8px;
    height: 4.4em;
    border-bottom: 2px solid black;
    display: flex;
    align-items: center;
}

.top-menu .icons {
    color: white;
    font-size: 2em;
    float: right;
    align-content: center;
    width: 100%;
    text-align: right;
    margin-right: 8px;
}
.top-menu .icons a:-webkit-any-link,
#offSes {
    color: white;
    text-decoration: unset;
    margin-right: 10px;
    transition: all 0.5s ease;
    cursor: pointer;
}
.top-menu .icons a:hover,
#offSes:hover {
    color: #95cada;
}

.tableStyle {
    text-align: center;
    border: 2px solid;
    box-shadow: 10px 8px 9px 2px #332e44f0;
    width: 100%;
}

.tableStyle thead tr th {
    border: 1px solid;
    border-top: unset;
}
.tableStyle thead tr th:last-child {
    border-right: unset;
}
.tableStyle thead tr th:first-child {
    border-left: unset;
}
.tableStyle thead {
    background: #332e44;
    color: white;
}

.tableStyle tbody tr:nth-child(even) {
    background-color: #d6d6d6;
}

.tableStyle tbody tr:nth-child(odd) {
    background-color: #f1f1f1;
}
.tableStyle tbody tr {
    transition: all.5s ease;
}
.tableStyle tbody tr:hover {
    background-color: #403c4d;
    color: white;
    font-weight: bold;
}
.btncont span {
    text-align: left;
    float: left;
    line-height: 35px;
    margin-left: 5px;
    font-weight: bold;
    font-size: 20px;
}
.btncont {
    text-align: right;
    margin-right: 36px !important;
}

div.scroll {
    overflow: scroll;
    max-height: 610px;
    overflow-x: unset;
    scroll-behavior: smooth;
}

div.scroll::-webkit-scrollbar {
    scroll-behavior: smooth;
}

div.scroll::-webkit-scrollbar-button {
    display: none;
}

div.scroll::-webkit-scrollbar-thumb {
    background-color: #faf8ffb8;
    border-radius: 5px;
}

div.scroll::-webkit-scrollbar-track {
    background-color: #ffffff38;
    border-radius: 5px;
}
