/******************** General ********************/

h3 {
    margin-top: 5%;
    font-weight: bold;
}

a {
    transition: transform 0.3s;
    text-decoration: none;
    color: black;
}

/******************** Dashboards ********************/

#container {
    background: white;
}

#container h5 {
    margin: 2rem 0 0 2rem;
}

#caja1 {
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    color: #000000;
    font-size: 18px;
    text-align: center;
    background: #56B7F5;
    box-shadow: 10px 10px 10px #56B7F595;
    margin: 2.5%;
    border-radius: 35px 0px 35px 0px;
    min-width: 290px;
    max-width: 350px;
    border-bottom: 2px solid;
    border-top: 2px solid;
  }
  
  #caja1 h1 {
    word-spacing: 10pt;
  }
  
  #caja2 h2 {
    word-spacing: 10pt;
  }
  
  #caja3 h1 {
    word-spacing: 10pt;
  }
  
  #caja2 {
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    color: #000000;
    font-size: 18px;
    text-align: center;
    background: #F5F387;
    box-shadow: 10px 10px 10px #F5F38795;
    margin: 2.5%;
    border-radius: 35px 0px 35px 0px;
    min-width: 290px;
    max-width: 350px;
    border-bottom: 2px solid;
    border-top: 2px solid;
  }
  
  #caja3 {
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    color: #000000;
    font-size: 18px;
    text-align: center;
    background: #F56E6E;
    box-shadow: 10px 10px 10px #F56E6E95;
    margin: 2.5%;
    border-radius: 35px 0px 35px 0px;
    min-width: 290px;
    max-width: 350px;
    border-bottom: 2px solid;
    border-top: 2px solid;
  }
  
  #caja4 {
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    color: black;
    text-align: center;
    background: #f8f9fa;
    margin: 2.5%;
    box-shadow: 10px 10px 10px grey;
    min-width: 300px;
    max-width: 450px;
    border-radius: 35px 0px 35px 0px;
    border-bottom: 2px solid;
    border-top: 2px solid;
  }
  
  #caja5 {
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    color: black;
    text-align: center;
    background: #f8f9fa;
    margin: 1.2%;
    box-shadow: 10px 10px 10px grey;
    min-width: 300px;
    max-width: 450px;
    height: 230px;
    border-radius: 35px 0px 35px 0px;
    border-bottom: 2px solid;
    border-top: 2px solid;
  }

#scroll {
    overflow: scroll;
    max-height: 250px;
    overflow-x: unset;
    scroll-behavior: smooth;
    /* background: #f5f3f3; */
    max-width: 450px;
}

#table td:hover {
    background-color: white;
}

#progress {
    height: 26px;
    width: 70%;
    border-radius: 30px;
    border: black 1px solid;
    float: left;
}

#progress h5 {
    font-weight: bold;
}

/******************** Perfil Usuario ********************/

#fonfoto {
    background-image: url("https://besthqwallpapers.com/Uploads/8-4-2019/86758/thumb2-white-wavy-background-4k-abstract-waves-creative-white-backgrounds.jpg");
    margin: 1% 1% 1% 4%;
    border-radius: 35px 35px 35px 35px;
    text-align: center;
    max-width: 100%;
}
/* #fonfoto:hover {
  filter: blur(6px);
} */

.img-fluid {
    max-height: 200px;
}

#btnright {
    margin-right: 1%;
}


/******************** Inventario ********************/

#tFact img {
  width: 50px;
}