/******************** General ********************/

h3 {
    margin-top: 5%;
    font-weight: bold;
}

a {
    transition: transform 0.3s;
    text-decoration: none;
    color: black;
}

/******************** Dashboards ********************/

#container {
    background: white;
}

#container h5 {
    margin: 2rem 0 0 2rem;
}

#caja1 {
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    color: #000000;
    font-size: 18px;
    text-align: center;
    background: #56B7F5;
    box-shadow: 10px 10px 10px #56B7F595;
    margin: 2.5%;
    border-radius: 35px 0px 35px 0px;
    min-width: 290px;
    max-width: 350px;
    border-bottom: 2px solid;
    border-top: 2px solid;
  }
  
  #caja1 h1 {
    word-spacing: 10pt;
  }
  
  #caja2 h2 {
    word-spacing: 10pt;
  }
  
  #caja3 h1 {
    word-spacing: 10pt;
  }
  
  #caja2 {
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    color: #000000;
    font-size: 18px;
    text-align: center;
    background: #F5F387;
    box-shadow: 10px 10px 10px #F5F38795;
    margin: 2.5%;
    border-radius: 35px 0px 35px 0px;
    min-width: 290px;
    max-width: 350px;
    border-bottom: 2px solid;
    border-top: 2px solid;
  }
  
  #caja3 {
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    color: #000000;
    font-size: 18px;
    text-align: center;
    background: #F56E6E;
    box-shadow: 10px 10px 10px #F56E6E95;
    margin: 2.5%;
    border-radius: 35px 0px 35px 0px;
    min-width: 290px;
    max-width: 350px;
    border-bottom: 2px solid;
    border-top: 2px solid;
  }
  
  #caja4 {
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    color: black;
    text-align: center;
    background: #f8f9fa;
    margin: 2.5%;
    box-shadow: 10px 10px 10px grey;
    min-width: 300px;
    max-width: 450px;
    border-radius: 35px 0px 35px 0px;
    border-bottom: 2px solid;
    border-top: 2px solid;
  }
  
  #caja5 {
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    color: black;
    text-align: center;
    background: #f8f9fa;
    margin: 1.2%;
    box-shadow: 10px 10px 10px grey;
    min-width: 300px;
    max-width: 450px;
    height: 230px;
    border-radius: 35px 0px 35px 0px;
    border-bottom: 2px solid;
    border-top: 2px solid;
  }

#scroll {
    overflow: scroll;
    max-height: 250px;
    overflow-x: unset;
    scroll-behavior: smooth;
    /* background: #f5f3f3; */
    max-width: 450px;
}

#table td:hover {
    background-color: white;
}

#progress {
    height: 26px;
    width: 70%;
    border-radius: 30px;
    border: black 1px solid;
    float: left;
}

#progress h5 {
    font-weight: bold;
}

/******************** Perfil Usuario ********************/

#fonfoto {
    background-image: url("https://besthqwallpapers.com/Uploads/8-4-2019/86758/thumb2-white-wavy-background-4k-abstract-waves-creative-white-backgrounds.jpg");
    margin: 1% 1% 1% 4%;
    border-radius: 35px 35px 35px 35px;
    text-align: center;
    max-width: 100%;
}
/* #fonfoto:hover {
  filter: blur(6px);
} */

.img-fluid {
    max-height: 200px;
}

#btnright {
    margin-right: 1%;
}


/******************** Inventario ********************/

#tFact img {
  width: 50px;
}


#dropdow {
  background-color: #000000;
  border-top: 1em solid;
}



/************ Configuracion ************/
.icon-box-03 .sub-wrapper {
  -webkit-transition: all .2s linear;
  -ms-transition: all .2s linear;
  transition: all .2s linear;
}
.icon-box-03 .icon-wrapper {
  float: none;
  position: relative;
  width: 120px;
  height: 120px;
  margin: 40px auto 20px;
  text-align: center;
}
.icon-box-03 .sub-wrapper {
  position: absolute;
  top: 6px;
  left: 6px;
  width: 108px;
  height: 108px;
  opacity: 0.62;
}
.icon-box-03 .livicon-evo {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -30px 0 0 -30px;
}
.icon-box-03 .icon-wrapper:hover .sub-wrapper {
  opacity: 1;
}
.icon-box-03 .text-wrapper {
  text-align: center;
}
.icon-box-03 h4 {
  color: #2C3F50;
  font-size: 17px;
  font-weight: 700;
  margin: 0 0 10px;
}
.icon-box-03 p {
  color:#90A4AE;
}
.icon-box-03 .icon-wrapper.bg1 {
  background-color: #80CBC4;
}
.icon-box-03 .icon-wrapper.bg1 .sub-wrapper {
  background-color: #80CBC4;
  border: 1px solid #80CBC4;
}
.icon-box-03 .icon-wrapper.bg1:hover .sub-wrapper {
  background-color: #26A69A;
  border-color: #fff;
}
.icon-box-03 .icon-wrapper.bg2 {
  background-color: #CE93D8;
}
.icon-box-03 .icon-wrapper.bg2 .sub-wrapper {
  background-color: #CE93D8;
  border: 1px solid #CE93D8;
}
.icon-box-03 .icon-wrapper.bg2:hover .sub-wrapper {
  background-color: #AB47BC;
  border-color: #fff;
}
.icon-box-03 .icon-wrapper.bg3 {
  background-color: #81D4FA;
}
.icon-box-03 .icon-wrapper.bg3 .sub-wrapper {
  background-color: #81D4FA;
  border: 1px solid #81D4FA;
}
.icon-box-03 .icon-wrapper.bg3:hover .sub-wrapper {
  background-color: #29B6F6;
  border-color: #fff;
}

.icon-box-03 .icon-wrapper.bg5 {
  background-color: #B0BEC5;
}
.icon-box-03 .icon-wrapper.bg5 .sub-wrapper {
  background-color: #B0BEC5;
  border: 1px solid #B0BEC5;
}
.icon-box-03 .icon-wrapper.bg5:hover .sub-wrapper {
  background-color: #78909C;
  border-color: #fff;
}
.icon-box-03 .icon-wrapper.bg6 {
  background-color: #FF8A65;
}
.icon-box-03 .icon-wrapper.bg6 .sub-wrapper {
  background-color: #FF8A65;
  border: 1px solid #FF8A65;
}
.icon-box-03 .icon-wrapper.bg6:hover .sub-wrapper {
  background-color: #FF5722;
  border-color: #fff;
}

.icon-box-03 .icon-wrapper.bg8 {
  background-color: #81C784;
}
.icon-box-03 .icon-wrapper.bg8 .sub-wrapper {
  background-color: #81C784;
  border: 1px solid #81C784;
}
.icon-box-03 .icon-wrapper.bg8:hover .sub-wrapper {
  background-color: #4CAF50;
  border-color: #fff;
}




/************ Datatable ************/

#grid {
  text-align: center;
}